%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.
{erl_opts, [fail_on_warning, debug_info,
	    {parse_transform, lager_transform}]}.
{eunit_opts, [verbose,
	      {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{covertool_eunit, ".eunit/eunit.coverage.xml"}.
{covertool_prefix_len, 2}.

{deps, [{lager, ".*", 
            {git, "git://github.com/basho/lager", {branch, "master"}}},
        {erlando, "0.1.0",
            {git, "git://github.com/reifyhealth/erlando.git", "0.1.0"}},
        {protobuffs, "0.7.*", 
            {git,"git://github.com/basho/erlang_protobuffs", {branch, "master"}}},
        {eqc, "1.0.1",
            {git, "git://github.com/reifyhealth/eqcmini.git", "1.0.1"}}]}.
